/* HTML Selectors */


@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Orbitron:wght@900&family=Oswald&display=swap');
:root {
--heading-font: 'Orbitron','Gemunu Libre',sans-serif;
--paragraph-font: 'Oswald', 'Gemunu Libre' , sans-serif;

/* these colors below should be chosen from among your palette colors above */
--headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
--headline-color-on-color: white; /* headlines on a colored background */ 
--paragraph-color-on-white: #81ADC8; /* paragraph text on a white background */ 
--paragraph-color-on-color: white; /* paragraph text on a colored background */ 
--paragraph-background-color: #81ADC8  ;
--nav-link-color: #020300;
--nav-background-color: var(--secondary-color);
--nav-hover-link-color: white;
--nav-hover-background-color: #81ADC8;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: var(--paragraph-font);
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

section {
    text-align: center;
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

/* ID Selectors */
#functions {
    display: grid;
    grid-template-columns: 1fr;
}

/* media queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    #functions {
        grid-template-columns: 1fr 1fr;
    }
}
